.messages-container {
    background: #F0F0F0;
    height: 75%;
    overflow:auto;
    margin: 0;
}

.chat-container {
    margin: 0;
}

.point-button {
    width: 100px;
}

.player-container {
    margin-top: 10px;
}
