{% extends "layout.html" %}
{% block body %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group row {{ 'has-error' if form.sessionName.errors else '' }}">
        {{ form.sessionName.label(class="col-sm-2 control-label") }}
        <div class="col-sm-4">
            {{ form.sessionName(class="form-control") }}
            {% for error in form.sessionName.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
        </div>
    </div>
    <div class="form-group row {{ 'has-error' if form.username.errors else '' }}">
        {{ form.username.label(class="col-sm-2 control-label") }}
        <div class="col-sm-4">
          {{ form.username(class="form-control") }}
          {% for error in form.username.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
        </div>
    </div>
    <div class="form-group row {{ 'has-error' if form.role.errors else '' }}">
        {{ form.role.label(class="col-sm-2 control-label") }}
        <div class="col-sm-4">
          {{ form.role(class="form-control") }}
          {% for error in form.role.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-4">
            {{ form.submit(class="btn btn-secondary") }}
        </div>
    </div>
</form>
{% endblock %}
